.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    list-style: none;
    font-size: 24px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap; /* Ensure cards wrap if they exceed the container width */
    gap: 16px; /* Add spacing between cards */
    justify-content: flex-start; /* Align cards to the left */
}

.res-card {
    width: 100%; /* Make the card take the full width of its parent */
    max-width: 200px; /* Optional: Limit the maximum width */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 5px;/* Add padding inside the card */
}

.res-card:hover{
    border:1px solid black; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
    height: auto;
} 

.filter-btn{
   margin: 10px;
   cursor: pointer; 
}