.menu ul {
  list-style-type: none;
}

.menu-item {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  margin: 5%;
  padding: 2%;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  cursor: pointer;
}

.menu-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .menu-item {
    flex-direction: column; /* Stack content vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .menu-item-image {
    width: 80%; /* Make the image take full width */
    height: auto; /* Adjust height automatically */
    margin: 0 auto 16px auto;
  }
}
